*filter
:INPUT ACCEPT [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
-N {{ ext_net_iface }}_in
-N {{ ext_net_iface }}_out

-A INPUT -i lo -j ACCEPT
-A INPUT -i {{ ext_net_iface }} -j {{ ext_net_iface }}_in

# TCP
-A {{ ext_net_iface }}_in -m conntrack --ctstate ESTABLISHED,RELATED -p tcp -j ACCEPT
-A {{ ext_net_iface }}_in -m conntrack --ctstate NEW -p tcp -m tcp --dport 22 -s {{ ipv4_home_net }} -m limit --limit 10/min -j ACCEPT
# UDP
-A {{ ext_net_iface }}_in -m conntrack --ctstate ESTABLISHED,RELATED -p udp -j ACCEPT
-A {{ ext_net_iface }}_in -p udp --sport 67:68 --dport 67:68 -s {{ ipv4_home_net }} -j ACCEPT
# ICMP
-A {{ ext_net_iface }}_in -p icmp -m icmp --icmp-type destination-unreachable -m limit --limit 2/sec -j ACCEPT
-A {{ ext_net_iface }}_in -p icmp -m icmp --icmp-type time-exceeded -m limit --limit 2/sec -j ACCEPT
-A {{ ext_net_iface }}_in -p icmp -m icmp --icmp-type parameter-problem -m limit --limit 2/sec -j ACCEPT
-A {{ ext_net_iface }}_in -p icmp -m icmp --icmp-type echo-request -m limit --limit 2/sec -j ACCEPT
-A {{ ext_net_iface }}_in -p icmp -m icmp --icmp-type echo-reply -m limit --limit 2/sec -j ACCEPT
# Log and drop/reject everything else
-A {{ ext_net_iface }}_in -s {{ ipv4_home_net }} -m limit --limit 5/min -j LOG --log-prefix "IPTables-{{ ext_net_iface }}-Local-In-Reject: " --log-level 4
-A {{ ext_net_iface }}_in -s {{ ipv4_home_net }} -j REJECT
-A {{ ext_net_iface }}_in -m limit --limit 2/min -j LOG --log-prefix "IPTables-{{ ext_net_iface}}-Global-In-Drop: " --log-level 4
-A {{ ext_net_iface }}_in -j DROP

-A OUTPUT -o lo -j ACCEPT
-A OUTPUT -o {{ ext_net_iface }} -j {{ ext_net_iface }}_out

# TCP
-A {{ ext_net_iface }}_out -m conntrack --ctstate ESTABLISHED,RELATED -p tcp -j ACCEPT
-A {{ ext_net_iface }}_out -m conntrack --ctstate NEW -p tcp -m tcp --dport 22 -j ACCEPT
-A {{ ext_net_iface }}_out -m conntrack --ctstate NEW -p tcp -m tcp --dport 43 -j ACCEPT
-A {{ ext_net_iface }}_out -m conntrack --ctstate NEW -p tcp -m tcp --dport 80 -j ACCEPT
-A {{ ext_net_iface }}_out -m conntrack --ctstate NEW -p tcp -m tcp --dport 443 -j ACCEPT
# UDP
-A {{ ext_net_iface }}_out -m conntrack --ctstate ESTABLISHED,RELATED -p udp -j ACCEPT
-A {{ ext_net_iface }}_out -m conntrack --ctstate NEW -p udp -m udp --dport 53 -j ACCEPT
-A {{ ext_net_iface }}_out -m conntrack --ctstate NEW -p udp -m udp --dport 123 -j ACCEPT
-A {{ ext_net_iface }}_in -p udp --sport 67:68 --dport 67:68 -d {{ ipv4_home_net }} -j ACCEPT
# ICMP
-A {{ ext_net_iface }}_out -p icmp -m icmp --icmp-type destination-unreachable -m limit --limit 2/sec -j ACCEPT
-A {{ ext_net_iface }}_out -p icmp -m icmp --icmp-type time-exceeded -m limit --limit 2/sec -j ACCEPT
-A {{ ext_net_iface }}_out -p icmp -m icmp --icmp-type parameter-problem -m limit --limit 2/sec -j ACCEPT
-A {{ ext_net_iface }}_out -p icmp -m icmp --icmp-type echo-request -m limit --limit 2/sec -j ACCEPT
-A {{ ext_net_iface }}_out -p icmp -m icmp --icmp-type echo-reply -m limit --limit 2/sec -j ACCEPT
# Log and drop everything else
-A {{ ext_net_iface }}_out -m limit --limit 5/min -j LOG --log-prefix "IPTables-{{ ext_net_iface }}-Out-Drop: " --log-level 4
-A {{ ext_net_iface }}_out -j DROP
COMMIT
